tmp/*

*.lock

app/helpers/.DS_Store

app/helpers/.svn/entries

*.svn-base

app/views/.DS_Store

app/views/.svn/entries

app/views/devise/.svn/entries

app/views/devise/mailer/.svn/entries

app/views/devise/passwords/.svn/entries

app/views/devise/sessions/.svn/entries

app/views/devise/shared/.svn/entries

app/views/layouts/.svn/entries

app/views/devise/unlocks/.svn/entries

config/.DS_Store

config/.svn/entries

config/initializers/.DS_Store

db/.svn/entries

*.svn-work

db/fixtures/.DS_Store

db/fixtures/.svn/entries

*.log

spec/helpers/.DS_Store

spec/controllers/.DS_Store

public/.DS_Store

*.sqlite3
