<div id="content-wrapper">
  <div id="inner-wrapper">
    <div id="contributor">User: <%= @user.email %></div>
    <div id="video-list-wrapper" class="widget"></div>
    <div id="instruction">Please click on one of the videos on the left to view its content</div>
  </div>
</div>
