<div id="post-wrapper">
  <h4>So many assholes, so little time...</h4>
  <% @posts.each do |p| %>
    <div class="content">
      <%= p.created_at.strftime("%b %d, %Y") %>
      <br/>
      Dear asshole <%= p.asshole_name %>, 
      <br/>
      <%= p.content %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function showPostBox(link) {
    $link = $(link);
    $link.parent().parent().children(".post-box").show();
    
    $link.parent().hide();
  }
</script>