<div class="new-post-box">
  <%= form_for :post do |f| %>
  <span>Dear asshole </span>
  <input id="asshole-name" name="post[asshole_name]" type="text" placeholder="who (boss, dentist, tail-gater, land lord...)"></input>
  <span>,</span>
  <textarea name="post[content]" cols="0" rows="5"></textarea>
  <button class="btn btn-large">Post</button>
  <% end %>
</div>