<div class="new-post-box">
  <%= form_for :post, :action => "create" do |f| %>
  <h4>So many assholes, so less time...</h4>
  <span>Dear asshole </span>
  <input id="asshole-name" name="post[asshole_name]" type="text" placeholder="who (boss, dentist, tail-gater, land lord...)"></input>
  <span>,</span>
  <textarea name="post[content]" cols="0" rows="5"></textarea>
  <button class="btn btn-large" onclick="javascript: submitNewPost(this);">Post</button>
  <% end %>
</div>

<script type="text/javascript">
  function submitNewPost(ele) {
    $eleParent = $(ele).parent();
    
    // hides the textarea and button
    $eleParent.children().hide();
    
    $newContent = $("<div class='content'></div>");
    $newContent.html($eleParent.children("textarea").val());
    $eleParent.prepend($newContent);
  }
</script>